.app.dark {
    --bg-color: #222;
    --secondary-bg-color: #383838;
    --inverted-bg-color: #d8d8d8;
    --primary-color: #dcdcdc;
    --secondary-color: #acacac;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #1c1c1c;
    --accent-color: #ffffab;
}
