.app.light {
  --bg-color: #EDF6F9;
  --secondary-bg-color: #e3e3e3;

  --primary-color: #000;
  --secondary-color: #1c1c1c;

  --inverted-primary-color: #dcdcdc;
  --inverted-secondary-color: #acacac;
}
