.button {
    cursor: pointer;
    border-radius: var(--default-border-radius);
    padding: var(--default-spacing);
    color: var(--primary-color);

    svg {
        fill: var(--primary-color);
    }
}

.clear {
    border: none;
    background-color: inherit;
    outline: none;
}

.primary {
    border: none;
    outline: none;
    background: var(--secondary-bg-color);
    box-shadow:
        0 0 1px rgb(0 0 0 / 10%),
        0 0 3px rgb(0 0 0 / 5%),
        0 0 5px rgb(0 0 0 / 2%);
}

.outline {
    background-color: transparent;
    border: 1px solid var(--inverted-bg-color);
    color: var(--secondary-color);
}
